.display-show {
  display: inline-block;
  width: 13%;
  width: calc(25% - ((20px) * 0.75));
  margin-right: 5px;
  margin-bottom: 20px;
  margin-left: 11px;
}

.display-show:nth-child(4n + 4) {
  margin-right: 0;
}

.header {
  background-color: black;
  height: 9%;
  width: 100%;
  position: fixed;
  margin-bottom: 10px;
}

.header img {
  height: 60%;
  margin-top: 1%;
  margin-left: 2%;
  position: absolute;
}

.container {
  padding-top: 5%;
}

img {
  max-width: 90%;
  width: auto;
  height: auto;
}

.footer {
  background-color: black;
  height: 9%;
  width: 100%;
  position: fixed;
}
